@import "tailwindcss";

:root {
  --pitch-base: #0f172a;
  --pitch-card: #1e293b;
  --pitch-accent: #10b981;
  --rating-gold: #f59e0b;
}

body {
  background-color: #090d16;
  color: #f8fafc;
  min-height: 100vh;
}